<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= post.title %> </title>
</head>
<body>
  <div id="mainHeader">
      <h1 id="nameHeader">Tyler Gaugler</h1>
      <div id="links">
        <ul>
          <li><a href="/">HOME</a></li>
          <li><a href="/blog">BLOG</a></li>
        </ul>
      </div>

  </div>

  <div class="mainContainer">
    <h1> <%= post.title %> </h1>
    <h3> <%= post.id %> </h3>
    <p><%= post.body %> </p>

    <a href="/blog/delete/<%= post.id %>">Delete Post</a>
  </div>

</body>
</html>
